<!DOCTYPE html>
<html class="@{{ layout }} no-js" lang="{{ site.language|default('en') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- block title %}
    <title>
      {{ title }} | {{ site.name }}
    </title>
  {%- endblock -%}

  {%- block hints %}
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/charter-regular.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/charter-bold.woff2">
    <link rel="preload" as="script" crossorigin="anonymous" href="/assets/scripts/main.js">
  {%- endblock -%}

  {%- block styles %}
    <link rel="stylesheet" href="/assets/styles/main.css">
  {%- endblock -%}

  {%- block meta %}
    {% include "meta.njk" %}
  {%- endblock %}
</head>
<body>
  <a href="#main" class="c-skip-link">
    Skip to content
  </a>

  <div class="c-wrapper" role="document">
    {%- block header %}
      {% include "header.njk" %}
    {%- endblock -%}

    <main id="main" class="c-main" role="main" tabindex="-1">
      {%- block content %}
        {{ content|safe }}
      {%- endblock -%}
    </main>

    {%- block footer %}
      {% include "footer.njk" %}
    {%- endblock %}
  </div>

  {%- block scripts %}
    <script type="module" src="/assets/scripts/main.js"></script>
  {%- endblock %}
</body>
</html>
